/* sc-intro */
.sc-intro{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #000;
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
  pointer-events: none;
}
.sc-intro .group-headline{
  position: relative;
}
.sc-intro .headline{
  font-size: 12vw;
  overflow: hidden;
  white-space: nowrap;
}
.sc-intro .headline .char{
  transform: translateY(100%);
}
.sc-intro [class*='img']{
  position: absolute;
  height: auto;
  transform: scale(0);
}
.sc-intro .img1{
  top: -55%;
  left: 10%;
  width: 9rem;
  filter: blur(2px);
  z-index: -1;
}
.sc-intro .img3{
  bottom: -63%;
  left: 20%;
  width: 13.5rem;
  z-index: 1;
}
.sc-intro .img4{
  top: -30%;
  right: 35%;
  width: 10rem;
  z-index: -1;
}
.sc-intro .img5{
  top: -100%;
  right: 10%;
  width: 13rem;
}
.sc-intro .img6{
  bottom: -40%;
  right: 20%;
  width: 11rem;
  z-index: 1;
}
@media(max-width:767px){
  .sc-intro .img1{
    filter: blur(.5px);
  }
}

/* sc-project */
.sc-project{
  background: #000;
  font-family: 'Bebas Neue', sans-serif;
}
.sc-project .inner{
  position: relative;
  display: flex;
  align-items: flex-start;
  padding-top: 15rem;
  padding-bottom: 10rem;
}
.sc-project .inner2{
  padding-top: 0;
}
.sc-project .side-text{
  /* font-family: 'Noto Sans KR', sans-serif; */
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 500;
}
.sc-project .group-content{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sc-project .content-area{
  display: flex;
  align-items: center;
  gap: 2rem;
  width: fit-content;
}
.sc-project .content-area:hover .promise-hover .char{
  color: var(--color-main);
}
.sc-project .content-area .promise-hover.grink .char:nth-child(5){margin-right: 3rem;}
.sc-project .content-area .promise-hover.grink .char:nth-child(10){margin-right: 3rem;}
.sc-project .content-area .promise-hover.blockchain .char:nth-child(5){margin-right: 3rem;}
.sc-project .content-area .promise-hover.damai .char:nth-child(3){margin-right: 3rem;}
.sc-project .content-area .promise-hover.seoul .char:nth-child(5){margin-right: 3rem;}
.sc-project .content-area .promise-hover.andar .char:nth-child(5){margin-right: 3rem;}
.sc-project .content-area:hover .promise-hover span:first-child .char{
  transform: scaleY(0);
}
.sc-project .content-area:hover .promise-hover span:last-child .char{
  transform: scaleY(1);
}
.sc-project .content-area .text-hover{
  opacity: 0;
  transition: opacity 0.2s linear;
  color: rgba(255,255,255,.6);
}
.sc-project .content-area:hover .text-hover{
  opacity: 1;
}
.sc-project .content-area .text-hover:nth-child(2){
  margin-left: 2rem;
}
.sc-project .content-area .text-hover:hover span{
  color: var(--color-main);
}
.sc-project .desc{
  font-family: 'pretand';
  font-weight: 500px;
  color: rgba(255,255,255,.6);
  margin-left: 10px;
  margin-bottom: 2rem;
}
.sc-project .inner0 .desc,
.sc-project .inner2 .desc{
  line-height: 1.5;
}
@media(max-width:800px){
  .sc-project .inner{
    flex-direction: column;
  }
  .sc-project .content-area{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: fit-content;
    margin-bottom: 5rem;
  }
  .sc-project .content-area .link-review{
    display: none;
  }
  .sc-project .inner2 .content-area:nth-child(4),
  .sc-project .inner2 .content-area:nth-child(5),
  .sc-project .inner2 .content-area:nth-child(6){
    margin-bottom: 11rem;
  }
  .sc-project .side-text{
    position: relative;
    margin-bottom: 10rem;
  }
  .sc-project .inner .desc{
    display: none;
  }
}

/* sc-circle */
.sc-circle{
  height: 900vh;
  font-family: 'Bebas Neue', sans-serif;
}
.sc-circle .sticky-container{
  height: 900vh;
}
.sc-circle .group-sticky{
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}
.sc-circle .headline{
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  font-size: 7rem;
  text-transform: uppercase;
  mix-blend-mode: difference;
}
.sc-circle .headline span{
  display: block;
}
.sc-circle .headline span:nth-child(1){
  margin-left: 7rem;
}
.sc-circle .headline span:nth-child(2){
  margin-left: -4rem;
}
.sc-circle .headline span:nth-child(3){
  margin-left: 8.5rem;
}
.sc-circle [class*='circle']{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 100%;
}
.sc-circle .circle-wrap{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.sc-circle .circle-wrap.first{z-index: -1;}
.sc-circle .circle-wrap.second{z-index: 1;}
.sc-circle .circle-1{
  width: 15rem;
  height: 15rem;
  /* width: 250rem;
  height: 250rem; */
  background: #fff;
  overflow: hidden;
}
.sc-circle .circle-2{
  width: 0;
  height: 0;
  background: #000;
  overflow: hidden;
}
.sc-circle .circle-3{
  width: 0;
  height: 0;
  background: #fff;
  overflow: hidden;
}
.sc-circle .circle-4{
  position: relative;
  width: 0;
  height: 0;
  background: #000;
  overflow: hidden;
}
.sc-circle .circle-4 .text-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.sc-circle .circle-4 .text{
  position: absolute;
  bottom: 15rem;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 9.3rem;
  white-space: nowrap;
  color: #fff;
}
.sc-circle .circle-4 img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 0;
  height: 0;
}
@media(max-width:1199px){
  .sc-circle .circle-1{
    width: 35rem;
    height: 35rem;
  }
  .sc-circle .circle-4 .text{
    bottom: 130px;
    font-size: 13.5rem;
  }
}
@media(max-width:800px){
  .sc-circle{
    display: none;
  }
}

/* sc-promise */
.sc-promise{
  position: relative;
  padding-bottom: 10rem;
  font-family: 'Bebas Neue', sans-serif;
  z-index: 2;
  color: #fff;
}
.sc-promise .inner{
  display: flex;
  align-items: flex-start;
}
.sc-promise .side-text{
  position: sticky;
  top: 50%;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 22rem;
  white-space: nowrap;
  overflow: hidden;
}
.sc-promise .group-content{
  flex: 1;
}
.sc-promise .desc-area{
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 3rem;
  font-weight: 500;
}
.sc-promise .desc-area .text{
  white-space: nowrap;
  overflow: hidden;
}
.sc-promise .desc-area .text span{
  display: block;
}
.sc-promise .desc-area .text + .text{
  display: block;
  margin-top: 1rem;
}
.sc-promise .about-area{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10rem;
}
.sc-promise .promise-hover{
  width: fit-content;
}
.sc-promise .promise-hover.epic .char:nth-child(4){margin-right: 3rem;}
@media(max-width:1199px){
  .sc-promise .desc-area{
    font-size: 4.5rem;
  }
}
@media(max-width:800px){
  .sc-promise{
    padding: 10rem 0 20rem;
  }
}
@media(max-width:800px){
  .sc-promise .inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .sc-promise .side-text{
    display: none;
  }
  .sc-promise .desc-area em{
   margin-bottom: 30px;
  }
  .sc-promise .desc-area{
    font-size: 6.7rem;
  }  
  .sc-promise .about-area{
    display: none;
  }
}

/* sc-marquee */
.sc-marquee{
  position: relative;
  padding: 4rem 0;
  font-family: 'Bebas Neue', sans-serif;
  background: #000;
  overflow: hidden;
  z-index: 1;
}
.sc-marquee .marquee-area{
  display: flex;
  animation: marquee 10s infinite linear;
}
.sc-marquee .marquee-area .text{
  font-size: 30rem;
  white-space: nowrap;
}
.sc-marquee .marquee-area .text span{color: var(--color-main);}
@keyframes marquee {
  100%{transform: translateX(-50%);}
}